/* CSS declarations go here */
body {
    background: #000;
    text-align: center;
    color: #fff;
}
canvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

.loginWrapper {
    width: 20%;
    height: 20%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.usernameText {
    text-align: center;
    position: inherit;
    width: 80%;
    margin: auto;
}

.username {
    text-align: center;
    position: inherit;
}

.headline {
    color: #fff
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input, button {
    padding: 1em;
    border: 1px solid;
}
#loginForm{
    width: 280px;    
}
